<%- include("header", {title: title}); %>

<h1>Payment Address for wallet just created</h1>

<table class="table">
    <thead class="thead-dark">
      <tr>
          <th scope="col">ID</th>
          <th scope="col">Name</th>
          <th scope="col">Balance</th>
          <th scope="col">Delegation</th>
          <th scope="col">Action</th>
      </tr>
    </thead>
      <% for(var i = 0; i < results.length; i++) { %>
          <tr>
        <td scope="row"><%= results[i].id %></td>
        <td><%= results[i].Name %></td>
        <td><%= results[i].balance %></td>
        <td><%= results[i].delegation_status %></td>
        <td><a href="delete-wallet/<%= results[i].index %>">Delete</a></td>
      </tr>
      <% } %>
  </table>
